<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ten.tencloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".TenApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoAction">
        <activity
            android:name=".module.other.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAction.FullScreen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.main.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.ui.ForgetStep01Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.server.ui.ServerPerformanceHistoryActivity" />
        <activity android:name=".module.login.ui.PerfectUserActivity" />
        <activity android:name=".module.server.ui.ServerChangeNameActivity" />
        <activity android:name=".module.user.ui.UserInfoActivity" />
        <activity android:name=".module.user.ui.UserUpdateActivity" />
        <activity android:name=".module.other.ui.TestActivity" />
        <activity android:name=".module.user.ui.CompanyInfoActivity" />
        <activity android:name=".module.user.ui.CompanyNameSubmitActivity" />
        <activity android:name=".module.user.ui.SettingActivity" />
        <activity android:name=".module.user.ui.SettingAccountActivity" />
        <activity android:name=".module.user.ui.SettingChangePhoneActivity" />
        <activity android:name=".module.user.ui.SettingChangePWResultActivity" />
        <activity android:name=".module.user.ui.CompanyListActivity" />
        <activity android:name=".module.user.ui.CompanyNewActivity" />
        <activity android:name=".module.user.ui.CompanyNewResultActivity" />
        <activity android:name=".module.user.ui.PermissionTemplateListActivity" />
        <activity android:name=".module.user.ui.PermissionChangeActivity" />
        <activity android:name=".module.user.ui.PermissionTreeActivity" />
        <activity android:name=".module.user.ui.PermissionChangeNameActivity" />
        <activity android:name=".module.user.ui.PermissionTemplateNewActivity" />
        <activity android:name=".module.user.ui.EmployeeListActivity" />
        <activity android:name=".module.other.ui.SelectPhotoActivity" />
        <activity android:name=".module.user.ui.EmployeeInfoActivity" />
        <activity android:name=".module.user.ui.EmployeeSelectAdminActivity" />
        <activity android:name=".module.user.ui.EmployeeJoinConditionActivity" />
        <activity android:name=".module.user.ui.EmployeeInviteActivity" />
        <activity android:name=".module.user.ui.EmployeeJoinActivity" />
        <activity android:name=".module.main.ui.MsgActivity" />
        <activity android:name=".module.login.ui.JoinComStep1Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="invite"
                    android:scheme="tencloud" />
            </intent-filter>
        </activity>
        <activity android:name=".module.login.ui.JoinComStep2Activity" />
        <activity android:name=".module.login.ui.JoinComStep3Activity" />
        <activity android:name=".wxapi.WXEntryActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".module.user.ui.CompanyObjectionActivity" />
        <activity
            android:name=".module.login.ui.JoinComTipsActivity"
            android:label="@string/title_activity_join_com_tips"
            android:theme="@style/AppTheme.NoAction" />
        <activity
            android:name=".module.other.ui.WelcomeActivity"
            android:theme="@style/AppTheme.NoAction.FullScreen.Splash" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a5f057d8f4a9d6ff4000042" />

        <activity android:name=".module.server.ui.ServerDetail2Activity" />
        <activity android:name=".module.server.ui.ServerDetailBasicActivity" />
        <activity android:name=".module.server.ui.ServerDetailConfigActivity" />
        <activity android:name=".module.server.ui.ServerMonitorActivity" />
        <activity
            android:name=".module.app.ui.AppAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppRepositoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="repository"
                    android:scheme="tencloud" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.app.ui.AppListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppSubDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppDeployListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppImageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerToolBoxActivity"
            android:theme="@style/AppTheme.NoAction.NotAnimation" />
        <activity
            android:name=".module.server.ui.ServerImportStep1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerImportStep2Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerImportStep3Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppMakeImageStep1Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppMakeImageStep2Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppToolBoxActivity"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAction.NotAnimation" />
        <activity
            android:name=".module.app.ui.AppBranchesActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="branches"
                    android:scheme="tencloud" />
            </intent-filter>
        </activity>
        <activity android:name=".module.app.ui.AppIncludeImageActivity" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployStep1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployStep2Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployAddContainerActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployAddPortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployNodeTypeActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerClusterListActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerClusterNodeActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerClusterCreateActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerClusterCreateTypeActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.ServerClusterCreateServerActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.image.ui.ImageListActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.image.ui.ImageAddActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.image.ui.ImageAddSelectFileActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.image.ui.ImageDetailActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.image.ui.ImageVersionListActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployStep3Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppK8sRegularDeployNodeSpecificActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.CostDetailActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.server.ui.CostInfoActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.event.ui.EventListActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.APPServiceCreateStep1Activity"

            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.APPServiceCreateStep2Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.APPServiceCreatePodLabelActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.APPServiceCreateStep3Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.APPServiceCreateStep4Activity"

            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".module.app.ui.MainPageToolBoxActivity"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAction.NotAnimation" />

        <activity
            android:name=".module.app.ui.DeployDetailsToolBoxActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoAction.NotAnimation" />

        <activity
            android:name=".module.app.ui.ServiceToolBoxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAction.NotAnimation" />


        <activity
            android:name=".module.app.ui.AppDeployDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppMainDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppServiceExampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.AppServiceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.IngressDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.app.ui.IngressModificationRuleActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>